* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover:disabled {
    cursor: default;
  }
  
  .hidden {
    display: none;
  }
  
  #shopping-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .bookmarks {
    list-style: none;
    padding-left: 0;
  }
  
  .bookmarks > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
  }
  
  .bookmark-element {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  

  
  .error-pop{
    position:fixed;
    right:1em;
    top:1em;
    background-color:red;
  }
  
  .error-close{
    float:right;
  }