* {
    box-sizing: border-box;
  }

  body {
    background-image: 
      url(https://i.imgur.com/L3EnscD.png);
  }
  
  h1 {
    display: flex;
    align-self: center;
    justify-content: center;
    color: #808080;
    text-decoration: underline;
    text-decoration-color: rgb(165, 167, 184);
  }

  .contain-bookmark-form {
    display: flex;
    justify-content: center;
  }

  .bookmark-item-controls {
    display: flex;
    align-self: center;
    justify-content: center;

  }

  .top-button {
    margin-right: 5px;
  }

  .item-form{
    margin: 5px;
  }

  form > input {
    background-color: rgb(235, 235, 235);
    margin: 3px;
  }

  .filter-bookmark{
    width: 30px;
    background-color: rgb(235, 235, 235);
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover:disabled {
    cursor: default;
  }
  
  .hidden {
    display: none;
  }
  
  #shopping-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .bookmarks {
    list-style: none;
    padding-left: 0;
  }
  
  .bookmarks > li {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid grey;
    padding: 20px;
  }
  
  .bookmark-element {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  

  
  .error-pop{
    position:fixed;
    right:1em;
    top:1em;
    background-color:red;
  }
  
  .error-close{
    float:right;
  }